.storeDiv {
    background-color: #666;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    border-width: 2px;
    position: absolute;
    left: 50%;
    top: 25%;
    margin: auto;
    text-align: center;
    width: calc(fit-content + 50px);
    padding: 0px 10px 0px 10px;
    transform: translate(-50%)
}

ul {
    list-style: none;
    padding: 0;
}