<h2 style="margin: 20px 0px 10px 10px">${{ money.toFixed(2) }}</h2>
<div class="game-canvas" id="game-canvas">
    <b class="store-button" (click)="clickStore()">Store</b>
    <div [ngSwitch]="displayStore">
        <app-store *ngSwitchCase="true" [upgradeDict]="upgradeDict" [money]="money" (upgradeReturn)="updateUpgrade($event)"></app-store>
    </div>
    <b class="options-button" (click)="clickOptions()">Options</b>
    <div [ngSwitch]="displayOptions">
        <app-options *ngSwitchCase="true" [optionDict]="optionDict" (optionReturn)="updateOption($event)"></app-options>
    </div>
    <div class="game-text">
        <text *ngIf="start_sand == false">Guess I gotta grab this thingy</text>
        <text *ngIf="start_sand != false">Huh? What's that falling?</text>
    </div>
    <div class="guy">
        <img src="assets/guy.png">
    </div>
</div>
